.RWU {
    /* height: 20vh; */
    text-align: center;
    margin: 18vh auto;
    /* margin-top: 18vh;
    margin-right: 0;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 18vh; */
    width: 70%;

    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3cpath d='M -89.11317324131244%2c327 C -31.51%2c307.2 83.69%2c221.4 198.88682675868756%2c228 C 314.09%2c234.6 371.69%2c355.8 486.88682675868756%2c360 C 602.09%2c364.2 659.69%2c249.2 774.8868267586876%2c249 C 890.09%2c248.8 947.69%2c374.8 1062.8868267586877%2c359 C 1178.09%2c343.2 1235.69%2c171 1350.8868267586877%2c170 C 1466.09%2c169 1621.06%2c360 1638.8868267586877%2c354 C 1656.71%2c348 1479.78%2c182.8 1440%2c140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -34.64390512637158%2c286 C 22.96%2c259.4 138.16%2c152 253.35609487362842%2c153 C 368.56%2c154 426.16%2c284.6 541.3560948736284%2c291 C 656.56%2c297.4 714.16%2c189.2 829.3560948736284%2c185 C 944.56%2c180.8 1002.16%2c270.2 1117.3560948736285%2c270 C 1232.56%2c269.8 1290.16%2c183.8 1405.3560948736285%2c184 C 1520.56%2c184.2 1686.43%2c258.6 1693.3560948736285%2c271 C 1700.28%2c283.4 1490.67%2c251 1440%2c246' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -470.32364369645836%2c189 C -412.72%2c209.4 -297.52%2c283.6 -182.32364369645833%2c291 C -67.12%2c298.4 -9.52%2c226 105.67635630354167%2c226 C 220.88%2c226 278.48%2c293.6 393.67635630354164%2c291 C 508.88%2c288.4 566.48%2c208 681.6763563035416%2c213 C 796.88%2c218 854.48%2c313.2 969.6763563035416%2c316 C 1084.88%2c318.8 1163.61%2c226 1257.6763563035418%2c227 C 1351.74%2c228 1403.54%2c302.2 1440%2c321' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -123.29284670398039%2c251 C -65.69%2c242.8 49.51%2c208.2 164.7071532960196%2c210 C 279.91%2c211.8 337.51%2c260.2 452.7071532960196%2c260 C 567.91%2c259.8 625.51%2c194.8 740.7071532960197%2c209 C 855.91%2c223.2 913.51%2c334.8 1028.7071532960197%2c331 C 1143.91%2c327.2 1201.51%2c192.2 1316.7071532960197%2c190 C 1431.91%2c187.8 1580.05%2c319.8 1604.7071532960197%2c320 C 1629.37%2c320.2 1472.94%2c216.8 1440%2c191' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: 10vh 0vh;
    background-repeat: no-repeat; */
}

.RWU-h3 {
    color: var(--first-color);
    margin-bottom: 3vh;
}

.RWU-p {
    margin-bottom: 5vh;
    color: var(--first-color);
}

.Eli {
    width: 300px;
    right: 2vh;
    position: absolute;
    transform: rotate(1deg);
}

.Eli2 {
    width: 300px;
    right: 2vh;
    position: absolute;
    transform: rotate(2deg);

}

.Eli3 {
    width: 300px;
    right: 2vh;
    position: absolute;
    transform: rotate(3deg);
}

/* MEDIA QUERY */
/* PHONE */
/* @media (min-width: 270px) and (max-width: 320px) {} */

@media (min-width: 320px) and (max-width: 430px) {
    .RWU-h3 {
        font-size: 22px;
    }

    .RWU-p {
        font-size: 13px;
    }

    .Intro-btn {
        font-size: 11px;
    }
}


/* TABLET */
/* @media (min-width: 750px) and (max-width: 1024px){} */