/* :root {
  --first-color: #367c77;
  --second-color: #174b47;
  --third-color: #bae4e0;
  --hover-color: #faefef;
  --dropdown-color: #bde0de;
} */

.ABT-MD {
  display: flex;
  position: relative;
  height: 84vh;
  text-align: center;
  justify-content: center;
  /* background-color: var(--third-color); */
  background-color: #f3fcfb;
}

.ABT-left {
  flex: 1;
  position: relative;
}

.ABT-bg {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: var(--second-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.ABT-left-text {
  color: white;
  margin-top: 35vh;
}

.MD-text {
  text-align: center;
  margin: 20px 100px auto 25px;
}

.ABT-right {
  flex: 1;
  align-items: center;
  /* margin-left: 10px; */
  width: 20%;
}

.bbb {
  width: 80%;
}

.ABT-DOC {
  height: 100vh;
  text-align: center;
  background-color: #f3fcfb;
}

.ABT-DOC-right {
  position: absolUTe;
}

.ABT-doc-img {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
  width: 80vh;
  margin-right: 40vh;
  position: relative;
  z-index: 2;
}

/* .ABT-texts {
  background-color: #f3fcfb;
  position: relative;
  z-index: 2;
} */
.Abt-doc-text {
  width: 30%;
  margin: 2vh auto 80vh 70vh;
  /* background-color: #f3fcfb;
  position: relative;
  z-index: 2; */
}

.ABT-MS {
  height: 100vh;
  text-align: center;
}

.flip {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}