/* :root {
  --first-color: #367c77;
  --second-color: #174b47;
  --third-color: #bae4e0;
  --hover-color: #faefef;
} */

.Importance {
  display: flex;
  /* padding: 0px 2vh 0px 13vh; */
  height: 100vh;
  /* background-image: url(../.././../Images/blur50.png); */
  background-size: 100%;
  background: #fff;
  z-index: 1;

}

.images {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  /* margin-right: -30vh; */
  margin: 32vh -15vh 12vh 0;
  /* margin-top: 25vh; */
  /* height: auto;
  min-height: 100%; */
}

.sideIMG {
  width: 30%;
  margin-right: 16vh;
}

.ImpCont {
  /* margin-bottom: 40px; */
  /* margin: auto 12vh 40px 12vh; */
  margin: 0 15vh 0 17vh;
  text-align: justify;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--second-color);
}

.ImpImg {
  width: 60%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.Doc {
  top: 23vh;
  left: 24vh;
}

.StethLap {
  right: 45vh;
}

.Steth {
  border: 5px solid rgb(180, 226, 233);
  height: 40vh;
  width: 35vh;
  border-radius: 8px;
}

.Doct {
  height: 30vh;
  width: 40vh;
  border-radius: 8px;
}

.ImpHeadHide {
  visibility: hidden;

}

.ImpText {
  align-items: center;
  margin: auto auto;
  text-align: center;
  /* color: var(--second-color); */

}

.ImpHead {
  color: #2c062e;
  text-shadow: .2rem .2rem .1rem rgba(0, 0, 0, 0.315);
  margin-top: 5vh;
  margin-bottom: 40px;
  font-size: 40px;
}



.IPP-btn {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 10vh;
  margin-bottom: 10vh;
  /* padding: 0.5rem; */
  padding: 4px;
  padding-left: 15px;
  /* padding-right: 40px; */
  border: 1px solid var(--second-color);
  border-radius: 4px;
  box-shadow: 4px 4px 0 rgba(22, 160, 132, 0.103);

  cursor: pointer;
  /* font-size: 1.7rem; */
  font-size: 15px;
  background: var(--second-color);
  white-space: nowrap;
}

.IPP-btn a {
  color: #fff;
}

.IPP-btn span {
  padding: 5px 6px;
  border-radius: 3px;
  background: #fff;
  color: var(--second-color);
  margin-left: 3rem;

}

.IPP-btn:hover {
  background: #fff;
  box-shadow: 4px 4px 0 rgba(83, 92, 90, 0.459);
}


.IPP-btn:hover a {
  color: var(--second-color);
}

.IPP-btn:hover span {
  color: #fff;
  background: var(--second-color);
  margin-left: 3.5rem;
  transition: .3s ease-in;
}



/* MEDIA QUERY */
/* PHONE */
/* @media (min-width: 270px) and (max-width: 320px) {} */

@media (min-width: 320px) and (max-width: 430px) {
  .Importance {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: -25vh;
    background-image: none;
  }

  .images {

    margin-right: 0;
    margin-left: 8vh;

  }



  .Doc {
    top: -23vh;
    left: -10vh;
    width: 300vh;
    margin-top: 8vh;
  }

  .Doct {
    width: 100%;
    object-fit: cover;
    height: 20vh;
  }

  .StethLap {
    visibility: hidden;
  }


  .ImpHead {
    font-size: 22px;
  }

  .ImpHeadHide {
    visibility: visible;
  }

  .ImpText {
    padding: 0;
    margin-top: -80vh;
    margin-left: -8vh;
    background-image: url(../../../Images/Abstract-circle.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 21vh 10vh;
    margin-right: 3vh;
    font-size: 13px;

  }

  .ImpCont {
    width: 100%;
  }



}

/* TABLET */
/* @media (min-width: 750px) and (max-width: 1024px){} */