.OB {
    /* height: 100vh; */
    background-image: url(../../../Images/19366.jpg);
    background-size: 100%;
    /* text-align: center;
    background-repeat: no-repeat;
    color: var(--second-color);
    z-index: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0; */
}


/* .OB-sec {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;} */






.swiper-container {
    list-style: none;
}

.pagination {
    bottom: 0;
    padding-bottom: 4px;
}

.slide {
    text-align: center;
    height: 320px;
    line-height: 320px;
    background: #364d79;
    overflow: hidden;
}

#swiper {
    width: 700px;
}





/* MEDIA QUERY */
/* PHONE */
/* @media (min-width: 270px) and (max-width: 320px) {} */

@media (min-width: 320px) and (max-width: 430px) {}

/* TABLET */
/* @media (min-width: 750px) and (max-width: 1024px){} */