:root {
  --first-color: #367c77;
  --second-color: #174b47;
  --third-color: #bae4e0;
  --hover-color: #faefef;
  --dropdown-color: #bde0de;
}
/* 
.Nav {
  position: sticky;
  top: 0;
} */

.Navbar {
  height: 6.5vh;
  /* background-color: #5fa19d; */
  background-color: var(--second-color);
  /* background-image: linear-gradient(to right, red, yellow); */

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 125px;
  overflow: hidden;
}

.Navbar a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
}

.Navbar a:hover {
  background-color: #fff;
  color: var(--second-color);
  cursor: pointer;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}
.NavCon {
  font-weight: 300;
}

.NavChild {
  height: 10vh;
  /* background-color: #ffebc1; */
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.bi-boxes {
  margin-right: 20px;
  margin-left: 100px;
}

.NavChild1 {
  margin-right: 660px;
  color: #014e49;
  font-weight: 700;
}

/* .NCL:hover {
  background-color: #5fa19d;
  text-decoration: none;
  padding: 18px 10px; 
  border-bottom: 2px solid #5fa19d; 
} */

.NavChild11 {
  display: flex;
  align-items: center;
}

.NavChild11 a {
  color: #014e49;
}

.NavChildList {
  /* margin-right: 25px; */
  /* width: 15vh; */
  margin: auto 2vh;
  font-size: 14px;
  color: #014e49;
  font-weight: 500;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.DList {
  padding: 5px 8px 5px 10px;
  font-size: 15px;
}

.DList:hover {
  background-color: var(--third-color);
  color: white;
}

.Search {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.NavLogo {
  height: 60px;
  width: 70px;
}

/* TRYING OUT SEARCH */
