/* :root {
  --first-color: #367c77;
  --second-color: #174b47;
  --third-color: #bae4e0;
  --hover-color: #faefef;
} */

.GITouch {
  position: relative;
  margin-bottom: 30vh;
}

.Touch {
  height: 84.5vh;
  width: 100%;
  background-color: var(--third-color);
  opacity: 0.4;
}

.Touch_text {
  position: absolute;
  top: 5vh;
  bottom: 0;
  left: 6vh;
  display: flex;
}

.Touch-left {
  flex: 1;
  /* To flip images ==> */
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.left-pic {
  width: 100%;
  height: 100%;
}

.Touch-right {
  flex: 1;
  margin-right: 10vh;
  margin-top: 10vh;
}

.cent {
  text-align: center;
}

.Touch-title {
  color: var(--first-color);
  margin-bottom: 10px;
}

.Form {
  margin-left: 35px;
}

.Form-title {
  color: var(--first-color);
  margin-bottom: 5px;
}

.Right-text {
  width: 100%;
  margin-bottom: 30px;
}

.form-input {
  width: 535px;
  height: 30px;
  border: 1px solid var(--first-color);
  margin-bottom: 30px;
}

.msg-input {
  width: 535px;
  height: 60px;
  border: 1px solid var(--first-color);
  margin-bottom: 20px;
}

.BTN {
  margin: 20px 0px 5px 260px;
  border-radius: 3px;
  padding: 5px 15px;
  background-color: var(--first-color);
  color: white;
  font-weight: 500;
}

.BTN:hover {
  color: var(--first-color);
  background-color: white;
}