:root {
  --first-color: #367c77;
  --second-color: #174b47;
  --third-color: #bae4e0;
  --hover-color: #faefef;
}

/* :root {
  --first-color: #7055b9;
  --second-color: #19087c;
  --third-color: #463d96ee;
  --hover-color: #faefef;
} */

/* :root {
  --first-color: #2a0b81;
  --second-color: #320942;
  --third-color: #8780c0ee;
  --hover-color: #faefef;
} */

.Intro {
  /* height: 84.5vh; */
  /* background-color: #ffebc1; */

  /* background-color: #5fa19d; */
  /* position: relative; */
}

.Intro-intro {
  position: relative;
}

.Intro-cont {
  height: 84.5vh;
  width: 100%;
  background-color: var(--third-color);
  opacity: 0.4;
}

.Intro-flex {
  display: flex;
  justify-content: space-between;
}

.Intro-text {
  position: absolute;
  top: 30vh;
  left: 20.7vh;
  flex: 1;
}

.Welcome {
  color: var(--first-color);
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.Name {
  font-size: 48px;
  color: #02201e;
}

.Motto {
  color: var(--first-color);
  font-weight: 800;
  font-size: 25px;
}

.button {
  margin-top: 5vh;
}

.Intro-btn {
  border-radius: 3px;
  padding: 5px 15px;
  margin: auto 5px;
  background-color: var(--first-color);
  color: white;
  font-weight: 500;
  border: 1px solid var(--second-color);
}

.Intro-btn:hover {
  background-color: white;
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.Intro-pic {
  position: absolute;
  top: 8vh;
  left: 110vh;
  flex: 1;
}

.flag {
  position: relative;
  right: 8vh;
}

.flagg {
  width: 90vh;
}

.doc {
  top: 1.3vh;
  position: absolute;
  left: 14vh;
}

.docc {
  width: 50vh;
}

.Intro-btn a {
  color: white;
}

.Intro-btn a:hover {
  color: var(--first-color);
}