/* :root {
  --first-color: #367c77;
  --second-color: #174b47;
  --third-color: #bae4e0;
  --hover-color: #faefef;
  --dropdown-color: #bde0de;
} */

.tog {
  text-align: center;
}

.bottom-container {
  padding-top: 10px;
  margin-top: 2px;
  background-color: var(--second-color);
  height: 130px;
}

.bc {
  margin-top: 25px;
}

.footer-link {
  margin: 30px;
  text-decoration: none;
  color: white;
}

.footer-note {
  color: #eaf6f6;
  margin-bottom: 10px;
  margin-top: 25px;
}