:root {
  --first-color: #711a75;
  --third-color: #711a75;
  --second-color: #711a75;
  --gradient-blend-top: linear-gradient(#b955c0, #84398a, #711a75);
  --gradient-blend-bottom: linear-gradient(#6c366e, #84398a, #ea9df0);
  --gradient-blend-toRight: linear-gradient(to right, #b955c0, #84398a, #711a75);
}

.Nav {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  z-index: 2;
  top: 0;
  position: fixed;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.137);
}

.Navbar {
  height: 6.5vh;
  background-image: var(--gradient-blend-top);
  /* display: flex; */
  align-items: center;
  /* justify-content: flex-end; */
  /* padding-right: 125px; */
  /* overflow: hidden; */
}

.Navbar a {
  display: inline-block;
  /* float: left;
  letter-spacing: 5px; */
}

.Navtrial a {
  padding: 5px 12px;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  letter-spacing: 6px;
  margin-left: 15vh;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

.Navtrial a:hover {
  background-color: #fff;
  color: var(--second-color);
  padding: 8.5px 12px;

}



.Navbar a:hover {
  /* background-color: #fff;
  color: var(--second-color);
  cursor: pointer;
  font-weight: 500; */
}

a {
  text-decoration: none;
  color: black;
}

.NavCon:hover {
  /* background-color: #fff;
  color: var(--second-color);
  cursor: pointer;
  font-weight: 500; */
}

.NavChild {
  height: 12vh;
  background-color: white;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}



.LOGO {
  /* margin-right: 10px; */
  margin-left: -2vh;
  width: 125px;
  height: 125px;
  object-fit: cover;
}

.NavChild1 {
  margin-right: 130px;
  letter-spacing: 2px;
  /* color: #a38a9f; */
  color: var(--first-color);
  font-weight: 700;
  text-shadow: .1rem .1rem 0 rgba(0, 0, 0, 0.486);

  /* width: 1000px; */
}

.NavChild1 span {
  color: #700475;
}

.NavChild1hide {
  display: none;
}

/* .NCL:hover {
  background-color: #5fa19d;
  text-decoration: none;
  padding: 18px 10px; 
  border-bottom: 2px solid #5fa19d; 
} */

.NavChild11 {
  display: flex;
  align-items: center;
}

.NavChild11 a {
  color: var(--first-color);
}

.NavChild11 a:hover {
  color: #fff;
}

.NavChildList {
  margin: auto 1.5vh;
  font-size: 12px;
  /* color: var(--first-color); */
  color: #fff;
  background: var(--gradient-blend-toRight);
  border-radius: 30px;
  padding: 10px 12px;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  /* min-width: 150px; */
  /* max-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.DList {
  padding: 5px 8px 5px 10px;
  font-size: 15px;
  white-space: nowrap;
}

.DList:hover {
  background-color: var(--first-color);
  color: white;
}



.Search {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.NavLogo {
  height: 60px;
  width: 70px;
}

.hide {
  visibility: hidden;
}

.Burger {
  display: none;

}

/* MEDIA QUERY */
/* PHONE */
@media screen and (max-width: 319px) {
  .Nav {
    top: 0;
    position: fixed;
    z-index: 2;

  }

  .Navbar {
    display: flex;
    padding-right: 0px;
    height: 4.5vh;
  }


  .Navbar a {
    font-size: 10px;
  }

  .bi-boxes {
    margin: auto auto auto 1vh;
    width: 5%;
  }

  .NavChild {
    height: 6vh;
  }

  .NavChild1 {
    margin-right: 28vh;
    font-size: 2vh;
    display: none;
  }

  .dropdown-content {
    text-align: justify;
    justify-content: center;
  }

  .NavChildList {
    padding: 2.5vh 0vh 2.5vh 1vh;
    display: none;

  }



  .dropdown {
    display: none;
  }

  .Search {
    visibility: visible;
    margin-left: -22vh;
    margin-top: 1.5vh;
    width: 20px;
    height: 25px;
  }
}




@media (min-width: 320px) and (max-width: 430px) {
  .Nav {
    top: 0;
    position: fixed;
    z-index: 2;

  }

  .Navbar {
    display: flex;
    padding-right: 0px;
    height: 4.5vh;
  }

  .Navbar a {
    font-size: 12px;
  }

  .bi-boxes {
    margin: auto auto auto 1vh;
    width: 7%;
  }

  .NavChild {
    height: 6.5vh;
  }

  .NavChild1 {
    margin-right: 13vh;
    display: none;
  }

  .NavChild1hide {
    margin-right: 33vh;
    color: #014e49;
    font-weight: 700;
    font-size: 3vh;
    display: flex;
    letter-spacing: 5px;
  }

  .NavChild1hide span {
    color: var(--first-color);
  }

  /* .NavChild1 {
    margin-right: 225px;
    font-weight: 700;
    text-shadow: .2rem .2rem .1rem rgba(0, 0, 0, .2);
   
  }
  
 */

  .Search {
    visibility: visible;
    margin-left: -11vh;
    margin-top: 1vh;
    width: 26px;
    height: 25px;
  }

  .dropdown-content {
    /* margin-left: -2.9vh; */
    text-align: justify;
    justify-content: center;
  }


  .NavChildList {
    padding: 2.5vh 0vh 2.5vh 1vh;

  }




}








/* TABLET */
/* @media (min-width: 750px) and (max-width: 1024px){} */