/* :root {
  --first-color: #367c77;
  --second-color: #174b47;
  --third-color: #bae4e0;
  --hover-color: #faefef;
} */
.Login {
  background-color: #ffffff;
  background-image: url(../../Images//Login-BG.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 85vh;

}

.Login-card {
  height: 45vh;
  text-align: center;
  /* border: 1px solid black; */
  margin: 15vh 70vh 0vh 70vh;
  padding: 20vh 0vh 0vh 0vh;
  /* box-shadow: var(--first-color) 5px 5px, var(--third-color) 10px 10px,
    #d3eeeb 15px 15px, #e7eeed 20px 20px, #feffff 25px 25px; */
}

.login-txt {
  color: var(--second-color);
}

.login-input {
  width: 300px;
  border: none;
  /* border-bottom: 1px solid var(--second-color); */
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 15px;
  border-radius: 3px;
}

.login-checkbox {
  font-size: 15px;
  margin-top: 5px;
}

.login-chck {
  margin-right: 5px;
}

.login-chck::after {
  background-color: var(--second-color);
}

.login-btn {
  border-radius: 2px;
  padding: 5px 35px;
  margin: 30px 5px 0px 5px;
  border: 1px solid var(--second-color);
  background-color: var(--first-color);
  color: white;
  font-size: 15px;
  color: black;


}



.login-btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--first-color);
}

/* input[type="checkbox"]:checked::after {
  background-color: var(--second-color);
}

input[type="checkbox"]:checked::after {
  mix-blend-mode: unset;
  color: transparent;
} */

input[type="checkbox"]:focus {
  background-color: var(--first-color);
}

input[type="checkbox"]:checked {
  background-color: var(--first-color);
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 2;
}

.checkbox__input {
  display: none;
}

.checkbox__box {
  width: 1em;
  height: 1em;
  /* border: 2px solid #cccccc; */
  border: 1px solid var(--first-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s;
  /* background: rgb(223, 221, 221); */
}

.checkbox__box::after {
  content: '\2714';
  color: #ffffff;
  transform: scale(0);
  transition: transform 0.15s;
}

.checkbox__input:checked+.checkbox__box {
  background: var(--first-color);
  border-color: var(--first-color);
}

.checkbox__input:checked+.checkbox__box::after {
  transform: scale(1);
}

/* MEDIA QUERY */
/* PHONE */
/* @media (min-width: 270px) and (max-width: 320px) {} */

@media (min-width: 320px) and (max-width: 430px) {
  .Login {
    height: 100vh;
  }

  .Login-card {
    height: 30vh;
    margin: 0;
  }

  .login-input {
    width: 250px;
    padding: 5px 0px;
    font-size: 13px;
  }

  .login-checkbox {
    font-size: 13px;
  }

  .login-btn {
    padding: 3px 25px;
    font-size: 13px;
  }
}

/* TABLET */
/* @media (min-width: 750px) and (max-width: 1024px){} */