/* :root {
  --first-color: #367c77;
  --second-color: #174b47;
  --third-color: #bae4e0;
  --hover-color: #faefef;
} */


.Login-card {
  height: 45vh;
  text-align: center;
  /* border: 1px solid black; */
  margin: 10vh 70vh 0vh 70vh;
  padding: 10vh 0vh;

  box-shadow: var(--first-color) 5px 5px, var(--third-color) 10px 10px,
    #d3eeeb 15px 15px, #e7eeed 20px 20px, #feffff 25px 25px;
}

.login-txt {
  color: var(--second-color);
}

.login-input {
  width: 250px;
  border: none;
  border-bottom: 1px solid var(--second-color);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 15px;
}

.login-checkbox {
  font-size: 15px;
  margin-top: 5px;
}

.login-chck {
  margin-right: 5px;
}

.login-chck::after {
  background-color: var(--second-color);
}

.login-btn {
  border-radius: 2px;
  padding: 5px 35px;
  margin: 30px 5px 0px 5px;
  border: 1px solid var(--second-color);
  /* background-color: #f0f3f3; */
  background-color: var(--first-color);
  color: white;
  font-size: 15px;
}

.login-btn:hover {
  cursor: pointer;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  background-color: white;
  color: var(--first-color);
}

/* input[type="checkbox"]:checked::after {
  background-color: var(--second-color);
}

input[type="checkbox"]:checked::after {
  mix-blend-mode: unset;
  color: transparent;
} */

input[type="checkbox"]:focus {
  background-color: var(--first-color);
}

input[type="checkbox"]:checked {
  background-color: var(--first-color);
}