.ptherapy {
    text-align: center;
    background-color: rgb(251, 255, 255);
    margin-top: 16vh;
}

.ptherapy-mega-title {

    font-size: 60px;
    color: var(--second-color);
}

.ptherapy-origin {
    background-image: url(../../../../Images/medical-symbol1.png);
    background-size: 5%;
    background-position: 3vh 15vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: auto 16vh;
    background-color: rgb(216, 247, 247);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* padding-top: 2vh; */
    padding: 15vh 0;

}

.ptherapy-origin-1 {
    background-image: url(../../../../Images/physiotherapist5.png);
    background-size: 5%;
    background-position: 160vh 17vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: auto 16vh;
    background-color: rgb(216, 247, 247);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* padding-top: 2vh; */

    padding: 15vh 0;
}

.ptherapy-origin-2 {
    background-image: url(../../../../Images/physiotherapist1.png);
    background-size: 7%;
    background-position: 0vh 28vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: auto 16vh;
    background-color: rgb(216, 247, 247);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* padding-top: 2vh; */
    padding: 15vh 0;
}

.ptherapy-origin-3 {
    margin: auto 16vh;
    background-color: rgb(216, 247, 247);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15vh 0;
    background-image: url(../../../../Images/medical-symbol1.png);
    background-size: 5%;
    background-position: 160vh 15vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.ptherapy-title {
    /* margin-left: 60vh; */
    color: var(--first-color);

}

.ptherapy-text {
    text-align: justify;
    line-height: 3;
    margin: 0 5vh;
    padding: 0 20vh;

}

/* MEDIA QUERY */
/* PHONE */
/* @media (min-width: 270px) and (max-width: 320px) {} */

@media (min-width: 320px) and (max-width: 430px) {
    .ptherapy-mega-title {
        font-size: 29px;
        text-shadow: .2rem .2rem .1rem rgba(0, 0, 0, .2);
        margin-top: -5vh;
    }

    .ptherapy-origin,
    .ptherapy-origin-1,
    .ptherapy-origin-2,
    .ptherapy-origin-3 {
        margin: 0 5vh;
        padding: 5vh 3vh;
        /* margin-left: 5vh; */
    }

    .ptherapy-origin,
    .ptherapy-origin-2 {
        background-size: 20%;
        background-position: 0vh 3vh;
    }

    .ptherapy-origin-1,
    .ptherapy-origin-3 {
        background-size: 20%;
        background-position: 28vh 40vh;
        padding-bottom: 7vh;

    }



    .ptherapy-text {
        margin: 0;
        padding: 0;
        line-height: 2;
        font-size: 12px;
    }
}


/* TABLET */
/* @media (min-width: 750px) and (max-width: 1024px){} */