.homeo {
    text-align: center;
    /* background-image: url(../../../../Images/consultation.png);
    background-size: 5%;
    background-position: 10vh 70vh;
    background-attachment: scroll;
    background-repeat: repeat-y; */
    background-color: rgb(251, 255, 255);
}

.homeo-mega-title {
    font-size: 60px;
    color: var(--second-color);
}

.homeo-origin {
    background-image: url(../../../../Images/doctor.png);
    background-size: 10%;
    background-position: 20vh 17vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
}



.homeo-title {
    margin-left: 60vh;
    color: var(--first-color);
}

.homeo-text {
    width: 50%;
    margin: auto 0vh auto 86vh;
    /* width: 70%;
    margin: auto 30vh; */
    /* width: 50%;
    margin: auto 50vh; */
    text-align: justify;
    line-height: 3;
}



.homeo-origin-1 {
    /* background-image: url(../../../../Images/cardiogram.png);
    background-size: 15%;
    background-position: 10vh 20vh;
    background-attachment: scroll;
    background-repeat: no-repeat; */

    background-image: url(../../../../Images/scroll.png);
    background-size: 10%;
    background-position: 20vh 17vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    /* background-color: rgb(251, 255, 255); */
    background-color: rgb(216, 247, 247);
    padding: 6vh;
}

.homeo-origin-2 {
    background-image: url(../../../../Images/mental-health.png);
    background-size: 10%;
    background-position: 20vh 17vh;
    background-attachment: scroll;
    background-repeat: no-repeat;

}

.homeo-origin-3 {
    /* background-image: url(../../../../Images/healthcare.png); */
    background-image: url(../../../../Images/physiotherapist3.png);
    background-size: 10%;
    background-position: 20vh 17vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    /* background-color: rgb(251, 255, 255); */
    background-color: rgb(216, 247, 247);
    padding: 6vh;
    margin-bottom: 0;

}